<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
    <title>WAASHOW EVENT TAG PRINTER</title>

    <meta name="description"
    content="WAASHOW EVENT TAG is used to scan Attendee Tag Code at the venue and print the attendee tag.">
  <meta name="keywords" content="WAASHOW EVENT TAG">
  <meta name="author" content="Agri Supplies Limited">
  <!-- OpenGraph Meta Tags -->
  <!-- <meta property="og:title" content="About Apoe4"> -->
  <meta property="og:image" content="<%= BASE_URL %>waaslogo2.png">
  <meta property="og:description"
  content="WAASHOW EVENT TAG is used to scan Attendee Tag Code at the venue and print the attendee tag.">
  <meta property="og:url" content="https://waashow.org/">
  <!-- <meta name="twitter:card" content="<%= BASE_URL %>img/apoe-card.png"> -->
  <meta name="og:site_name" content="WAASHOW EVENT TAG " />
</head>
<body>
    <header class="app--header">
        <figure>
            <img src="waaslogo2.png" alt="">
        </figure>
        <ul>
            <li>
                <a href="https://waashow.org/events/west-africa-agribusiness-show-2020/" target="_blank" rel="noopener noreferrer">HOME</a>
            </li>
        </ul>
    </header>
    <main>
        <section class="scanner--container">
            <form action="" onsubmit="event.preventDefault();">
                <h5>Place cursor on input below to scan barcode</h5>
                <input type="text" name="scanner-input" id="scanner-input" placeholder="Scan Barcode or Enter Attendee Ticket Code"/>
            </form>
            <div class="scanner-preview"></div>
        </section>
        <section class="scanner--result">
            <div class="data-result-cont">
                <section class="event-body">
                    <p class="event-title">WEST AFRICA AGRIBUSINESS SHOW<br><span class="event-year"></span></p>
                    <p class="audience-detail">
                        <span class="fname"></span><br>
                        <span class="sname"></span><br><br>
                        <span class="company"></span><br>
                        <span class="sector"></span><br>
                        <span class="type"></span><br><br>
                        <span class="audience-type"></span><br>
                    </p>
                    <!-- <p class="audience-type"></p> -->
                </section>
                <section class="event-sponsor"></section>
                <section class="event-tags">
                    <span>#Food</span>
                    <span>#Health</span>
                    <span>#Harvest</span>
                </section>
            </div>
            <div class="data-action">
                <button class="btn clear">Clear</button>
                <button class="btn print">Print Tag</button>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scannerdetection/1.2.0/jquery.scannerdetection.min.js"></script>
    <script src="app.js"></script>
</body>
</html>